body {
  font-family: 'Montserrat', sans-serif;
}
#brand-name a{
  font-family: 'Balsamiq Sans', cursive;
  font-size: 12px;
  color: #3F403F;
  text-decoration: none;
}
#header-nav {
  background-color: #a99f96;
  padding-bottom: 0;
}
#navbarContent a {
  color: #161c0c;
  text-align: center;
}
.navbar-toggler {align-self: center;}
#heading {margin: 30px auto; font-weight: bold;}
#main-content { padding: 20px;}
#Chicken, #Beef, #Sushi {margin-bottom: 40px; border: 1px solid #333; background-color: #b0ca87; padding: 10px;}
h3 {color: #353a47; font-weight: bold;}
#Chicken p, #Beef p, #Sushi p {color: #151e28;}
hr {background-color: #0c151d; height: 1px; border: none; margin: 0; padding: none;}

@media screen and (max-width: 768px) {#brand-name h1 {font-size: 5vw;}}
@media screen and (max-width: 576px) {#brand-name h1 {font-size: 5.5vw;} .navbar-toggler-icon {height: 1.1em; width: 1.1em;} button {font-size: 1.1rem;} }
